extends layout
block content
  .main-loader
    .main-loader-body
      span
        span
        span
        span
        span
      .base
        span
        .face
    .longfazers
      span
      span
      span
      span
    h1.main-loader-title Redirecting
    form(action="#{result.callBackUrl}",method="post", name="completePayment")
      input(type="hidden", name="orderId", value="#{result.orderId}")
      input(type="hidden", name="ResCode", value="#{result.ResCode}")
      input(type="hidden", name="refId", value="#{result.refId}")
    script.
      document.forms['completePayment'].submit()
